<div class='container px-5 px-sm-0'>
  <div class='row'>
    <%# side_menu %>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'info', user: @user %>
      <h2 class="mt-3">New book</h2>
      <%= render 'books/form', book: @book %>
    </div>
    
    <%# main_menu %>
    <div class='col-md-8 offset-md-1'>
      
      <%# 投稿一覧 %>
      <h2>Books</h2>
      <%= render 'books/index',books: @books %>
      
      <%# 投稿数一覧/グラフ %>
      <h2>7日分の投稿数</h2>
      <table class="table table-bordered">
        <tr>
          <% @book_count_array.each_with_index do |book_count, i| %>
            <% if @book_count_array.size == (i + 1) %>
              <th>今日</th>
            <% else %>
              <th><%= @book_count_array.size - (i + 1) %>日前</th>
            <% end %>
          <% end %>
        </tr>
        <tr>
          <% @book_count_array.each_with_index do |book_count, i| %>
            <td><%= book_count %></td>
          <% end %>
        </tr>
      </table>
      
    </div>
  </div>
</div>
